/* Intro
===================== */

.home-intro {
  position: relative;
  height: 650px;
}

.intro-1 {
  background: url("../img/intro/home-intro-1.jpg") center no-repeat;
  background-size: cover;
}

.intro-2 {
  background: url("../img/intro/home-intro-2.jpg") center no-repeat;
  background-size: cover;
}

.home-intro__overlay {
  background: #000;
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.1;
  z-index: 1;
}

.home-title {
  width: 700px;
  margin: 0 auto;
}

.home-inner {
  text-align: center;
}

.intro__slider {
  height: 650px;
  overflow: hidden;
  .slick-initialized {
    height: auto;
  }
}

/* Slider
===================== */

.slick-slide {
  outline: none;
}

.slick-prev,
.slick-next {
  z-index: 5;
  width: 45px;
  height: 45px;
  border: 1px solid #fff;
  border-radius: 50%;
  padding: 2px 5px 0 0;
  transition: all 0.1s linear;
}

.slick-prev,
.slick-next {
  &:hover,
  &:active {
    background: #000;
    box-shadow: 0 0 4px #000;
    border: 1px solid #000;
  }
}

.slick-prev {
  left: 110px;
  &:before {
    content: "\f053";
    font-family: "FontAwesome";
    font-size: 30px;
    color: #fff;
    opacity: 1;
  }
}

.slick-next {
  right: 110px;
  padding: 2px 0 0 5px;
  &:before {
    content: "\f054";
    font-family: "FontAwesome";
    font-size: 30px;
    color: #fff;
    opacity: 1;
  }
}

.slick-dots {
  bottom: 50px;
  li {
    button {
      border: 2px solid #fff;
      border-radius: 50%;
      width: 8px;
      height: 8px;
      background: #fff;
      opacity: 1;
      transition: border-color 0.1s linear;

      &:before {
        content: "";
        font-size: 0;
        color: transparent;
      }
    }
  }
}

.slick-dots li.slick-active button,
.slick-dots li:hover button {
  border: 2px solid #000;
  box-shadow: 0 0 4px #000;
}

/* Works navigation
===================== */

.works__nav {
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  border-top: 1px solid #a7a7a7;
  border-bottom: 1px solid #a7a7a7;
  margin: 30px 0;
}

.works__nav__link {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 45px;
  color: #777777;
  letter-spacing: 0.07em;
  text-decoration: none;
  transition: color 0.2s linear;

  &:first-child {
    margin-left: 0px;

    &:before {
      content: none;
    }
  }

  &:hover,
  &:active {
    color: #000000;
  }

  &:before {
    content: "/";
    position: relative;
    right: 20px;
    top: 0px;
    font-size: 30px;
    font-weight: 100;
    color: #a7a7a7;
  }
}

/* Works
  ===================== */

.works {
  margin: 0 auto;
}

.works__content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.works__item {
  position: relative;
  overflow: hidden;
  width: 360px;
  margin: 0 10px 30px;

  &:hover .works__details {
    background-color: rgba(0, 0, 0, 0.5);
    color: #cacaca;
  }
}

.height-1 {
  height: 250px;
}

.height-2 {
  height: 350px;
}

.height-3 {
  height: 450px;
}

.works__photo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
}

.works__details {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 100px;
  font-weight: 300;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0);
  color: transparent;
  transition: all 0.2s linear;
  text-decoration: none;
}

/* Media
===================== */

@media (max-width: 1100px) {
  .slick-prev {
    top: 500px;
    left: 60px;
  }

  .slick-next {
    top: 500px;
    right: 60px;
  }
}

@media (max-width: 800px) {
  .home-intro {
    height: 450px;
  }
  .home-title {
    width: 540px;
  }
  .intro__slider {
    height: 450px;
  }

  .slick-prev {
    top: 340px;
  }
  .slick-next {
    top: 340px;
  }
  .slick-dots {
    bottom: 30px;
  }
}

@media (max-width: 650px) {
  .home-intro {
    height: 350px;
  }

  .home-title {
    width: 420px;
  }

  .intro__slider {
    height: 350px;
  }

  .slick-prev {
    top: 270px;
  }
  .slick-next {
    top: 270px;
  }
  .slick-dots {
    bottom: 20px;
  }
  .works {
    width: 380px;
  }
  .works__nav {
    height: 130px;
  }
}

@media (max-width: 500px) {
  .home-intro {
    height: 250px;
  }

  .home-title {
    width: 320px;
  }

  .intro__slider {
    height: 250px;
  }

  .slick-prev {
    top: 180px;
  }
  .slick-next {
    top: 180px;
  }
  .slick-dots {
    bottom: 10px;
  }
  .works__nav {
    height: 110px;
    font-size: 12px;
  }

  .works {
    width: 360px;
  }
  .works__item {
    width: 340px;
  }
}

@media (max-width: 380px) {
  .home-title {
    width: 250px;
  }
  .slick-prev {
    top: 170px;
  }
  .slick-next {
    top: 170px;
  }
  .works {
    width: 310px;
  }
  .works__item {
    width: 290px;
  }
}
