- var pageTitile = 'Lian | Blog | Post'
- var blog = true

doctype html
html(lang="en")
  include layouts/head
  body
    include layouts/header
    main
        section#intro
          .intro.blog-intro
            .container
                .intro__inner 
                    h1.intro__title.blog-title News about Lian
                    h2.intro__subtitle Latest News & Insights
        section.post
          .container
            .post__inner
              h3.post__title I am a Blog Post with an Awesome Image
              .post__info by Jenn Pereira
                span.date February 28, 2015
                i.fa.fa-heart-o(aria-hidden="true")
                span &nbsp;324 likes
              .post__img
                img.post__photo(src="img/blog/single-post.jpg" alt="")
              .post__desc
                p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit.
                p Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum.
              .post__quote Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy.
              .post__heading
                h4 This is a Heading
                p Typi non habent claritatem insitam; est usus legentis in iis qui facit eorum claritatem. Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius. Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum. Mirum est notare quam littera gothica, quam nunc putamus parum claram, anteposuerit litterarum formas humanitatis per seacula quarta decima et quinta decima. Eodem modo typi, qui nunc nobis videntur parum clari, fiant sollemnes in futurum.
                p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Nam liber tempor cum soluta nobis eleifend option congue.
              form.post__form
                h4.form__title Leave a Comment
                .form__fields
                  input.form__name(type="text" placeholder="Name" value="")
                  input.form__email(type="email" placeholder="Email" value="")
                  input.form__web(type="url" placeholder="Website" value="")
                  textarea.form__text(placeholder="Message" value="")
                .form__submit    
                  input.form__btn(type="submit" value="Send Message")
    include layouts/footer
    include layouts/script