/* roboto-300 - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/RobotoLight/roboto-v20-latin-300.eot");
  /* IE9 Compat Modes */
  src: local("Roboto Light"), local("Roboto-Light"), url("../fonts/RobotoLight/roboto-v20-latin-300.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoLight/roboto-v20-latin-300.woff2") format("woff2"), url("../fonts/RobotoLight/roboto-v20-latin-300.woff") format("woff"), url("../fonts/RobotoLight/roboto-v20-latin-300.ttf") format("truetype"), url("../fonts/RobotoLight/roboto-v20-latin-300.svg#Roboto") format("svg");
  /* Legacy iOS */ }

/* roboto-regular - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/RobotoRegular/roboto-v20-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local("Roboto"), local("Roboto-Regular"), url("../fonts/RobotoRegular/roboto-v20-latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoRegular/roboto-v20-latin-regular.woff2") format("woff2"), url("../fonts/RobotoRegular/roboto-v20-latin-regular.woff") format("woff"), url("../fonts/RobotoRegular/roboto-v20-latin-regular.ttf") format("truetype"), url("../fonts/RobotoRegular/roboto-v20-latin-regular.svg#Roboto") format("svg");
  /* Legacy iOS */ }

/* roboto-italic - latin */
@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/RobotoRegularItalic/roboto-v20-latin-italic.eot");
  /* IE9 Compat Modes */
  src: local("Roboto Italic"), local("Roboto-Italic"), url("../fonts/RobotoRegularItalic/roboto-v20-latin-italic.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoRegularItalic/roboto-v20-latin-italic.woff2") format("woff2"), url("../fonts/RobotoRegularItalic/roboto-v20-latin-italic.woff") format("woff"), url("../fonts/RobotoRegularItalic/roboto-v20-latin-italic.ttf") format("truetype"), url("../fonts/RobotoRegularItalic/roboto-v20-latin-italic.svg#Roboto") format("svg");
  /* Legacy iOS */ }

/* roboto-500 - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/RobotoMedium/roboto-v20-latin-500.eot");
  /* IE9 Compat Modes */
  src: local("Roboto Medium"), local("Roboto-Medium"), url("../fonts/RobotoMedium/roboto-v20-latin-500.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoMedium/roboto-v20-latin-500.woff2") format("woff2"), url("../fonts/RobotoMedium/roboto-v20-latin-500.woff") format("woff"), url("../fonts/RobotoMedium/roboto-v20-latin-500.ttf") format("truetype"), url("../fonts/RobotoMedium/roboto-v20-latin-500.svg#Roboto") format("svg");
  /* Legacy iOS */ }

/* roboto-700 - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/RobotoBold/roboto-v20-latin-700.eot");
  /* IE9 Compat Modes */
  src: local("Roboto Bold"), local("Roboto-Bold"), url("../fonts/RobotoBold/roboto-v20-latin-700.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoBold/roboto-v20-latin-700.woff2") format("woff2"), url("../fonts/RobotoBold/roboto-v20-latin-700.woff") format("woff"), url("../fonts/RobotoBold/roboto-v20-latin-700.ttf") format("truetype"), url("../fonts/RobotoBold/roboto-v20-latin-700.svg#Roboto") format("svg");
  /* Legacy iOS */ }

/* lato-700 - latin */
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/LatoBold/lato-v16-latin-700.eot");
  /* IE9 Compat Modes */
  src: local("Lato Bold"), local("Lato-Bold"), url("../fonts/LatoBold/lato-v16-latin-700.eot?#iefix") format("embedded-opentype"), url("../fonts/LatoBold/lato-v16-latin-700.woff2") format("woff2"), url("../fonts/LatoBold/lato-v16-latin-700.woff") format("woff"), url("../fonts/LatoBold/lato-v16-latin-700.ttf") format("truetype"), url("../fonts/LatoBold/lato-v16-latin-700.svg#Lato") format("svg");
  /* Legacy iOS */ }

@font-face {
  font-family: "PTSerif";
  src: url("../fonts/PTSerifBoldItalic/PTF76F-webfont.eot");
  src: url("../fonts/PTSerifBoldItalic/PTF76F-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/PTSerifBoldItalic/PTF76F-webfont.woff2") format("woff2"), url("../fonts/PTSerifBoldItalic/PTF76F-webfont.woff") format("woff"), url("../fonts/PTSerifBoldItalic/PTF76F-webfont.ttf") format("truetype"), url("../fonts/PTSerifBoldItalic/PTF76F-webfont.svg#pt_serifbold_italic") format("svg");
  font-weight: normal;
  font-style: normal; }
