footer.footer
      .footer__logo
        img(src="img/logo.png" alt="")
      .footer__social
        a.social__icon(href="#")
          i(aria-hidden="true").fa.fa-facebook
        a.social__icon(href="#")
          i(aria-hidden="true").fa.fa-google-plus
        a.social__icon(href="#")
          i(aria-hidden="true").fa.fa-twitter
        a.social__icon(href="#")
          i(aria-hidden="true").fa.fa-linkedin
        a.social__icon(href="#")
          i(aria-hidden="true").fa.fa-dribbble
        a.social__icon(href="#")
          i(aria-hidden="true").fa.fa-pinterest-p
        a.social__icon(href="#")
          i(aria-hidden="true").fa.fa-instagram
      .footer__copyright © 2016&nbsp;
        span Mulitix Theme
        | &nbsp;by ThemeForces. All Rights Reserved.