head
  meta(charset = 'utf-8')
  meta(name='viewport', content="initial-scale=1.0, width=device-width")
  meta(http-equiv="x-ua-compatible" content="ie=edge")
  title= pageTitile
  link(rel="apple-touch-icon" sizes="180x180" href="img/favicons/apple-touch-icon.png")
  link(rel="icon" type="image/png" sizes="32x32" href="img/favicons/favicon-32x32.png")
  link(rel="icon" type="image/png" sizes="16x16" href="img/favicons/favicon-16x16.png")
  link(rel="manifest" href="img/favicons/site.webmanifest")
  link(rel="mask-icon" href="img/favicons/safari-pinned-tab.svg" color="#5bbad5")
  meta(name="msapplication-TileColor" content="#da532c")
  meta(name="theme-color" content="#ffffff")
  meta(name="description" content="Lian - template")
  meta(name="keywords" content="Lian, template, lian, Lian - template")
  meta(name="google" content="notranslate")
  link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css")
  link(rel="stylesheet" type="text/css" href="css/libs/slick.min.css")
  link(rel="stylesheet" type="text/css" href="css/libs/slick-theme.min.css")
  link(rel="stylesheet" type='text/css' href="css/libs/normalize.min.css")
  link(rel="stylesheet" type='text/css' href="css/style.min.css")
